<div class="container card">
  <h1>Your list has been cleared!</h1>
  <a href="/">Return to Home Page</a>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
</div>