<form id="form" action="/kits" method="post"></form>
  <label for="name">Name the piece of your kit:</label>
  <input id="name" name="name" type="text">
  <label for="price">What is the price of this piece of your kit:</label>
  <input id="price" name="price" type="number">
  <label for="weight">What is the weight of this piece of your kit:</label>
  <input id="weight" name="weight" type="number">
  <label for="purchased">Did you buy it?</label>
  <input type="checkbox" name="purchased" id="purchased" value="true">
  <label for="packed">Did you pack it?</label>
  <input type="checkbox" name="packed" id="packed" value="true">
  <button type="submit">Submit</button>
</form>

  