<div class="container card">
  <h1>Your Backpack</h1>

  <a href="/kits/new">Add new item to the kit</a>
  <br>
  <a href="/kits">Show items.</a>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
</div>